.riot-startpage-image-logo {
    margin-top: 35%;
}
.riot-startpage-nick-input {
    display: block;
    width: 94%;
    height: 40px;
    padding: 7px 10px;
    font-size: 15;
    line-height: 2px;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}

.start-background {
    background-image: url("~/riot/images/tlo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
