.tabs-main{
    height: 100%;
    width: 100%;
}
.tabs-tab{
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: darkslategrey;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    top: 40px;
}
.tabs-tab-active{
    background-color: #00FF00;
}
.tabs-tab-inactive{
    background-color: #FF0000;
}
.tabs-grid{
    margin-top: 0px;
    height: 40px;
}